# Python / Backend
backend/__pycache__/
backend/*.pyc
backend/data/

# Node / Frontend
frontend/node_modules/
frontend/dist/

# Environment files
.env
.venv/

# Logs
logs/
backend/logs

# vectorstores
# backend/vectorstores/.chroma

# test
test/

# cache
__pycache__/
**/__pycache__/